body {
    margin: 0 auto;
    background-color: #ffe4c4;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    border: none;
    border-radius: 10px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 8px 9px 5px -3px rgba(65, 48, 48, 0.22);
    -webkit-box-shadow: 8px 9px 5px -3px rgba(65, 48, 48, 0.22);
    -moz-box-shadow: 8px 9px 5px -3px rgba(65, 48, 48, 0.22);
}

.ml {
    margin-left: 20px;
    font-size: x-large;
}

.tasklist {
    margin: 0 auto;
    padding: 0%;
    height: 400px;
    width: 900px;
}

.hidden {
    display: none;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 7px solid #000;
    border-bottom-width: thin;
    border-left: none;
    border-right: none;
}

.card {
    width: 250px;
    margin: auto;
}

.para {
    font-size: 15px;
    color: gray;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    width: 100%;

}

.addtask {

    border: none;
    width: 850px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 8px 9px 5px -3px rgba(65, 48, 48, 0.22);
    -webkit-box-shadow: 8px 9px 5px -3px rgba(65, 48, 48, 0.22);
    -moz-box-shadow: 8px 9px 5px -3px rgba(65, 48, 48, 0.22);
}

.label-head {
    font-size: x-large;
    text-align: center;
}

.input {
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 12px;
    width: 100%;
    border-radius: 12px;
    border: none;
    outline: none;
}

.taskname::-webkit-input-placeholder {
    font-weight: bold;
    font-size: larger;
}

.date {
    border-radius: 12px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.btn {
    border: none;
    background-color: blueviolet;
    color: white;
    padding: 12px 26px;
    border-radius: 16px;
    cursor: pointer;
}

.bg {
    background-color: rgb(228, 208, 200);
    gap: 20px;
}

.block {
    display: block;
}

.students {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    padding-left: 10px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 12px;
    gap: 9px;

    border-bottom: 1px solid lightgray;
}

.user {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 0 15px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 12px;
}

.right {

    width: 900px;
    padding: 12px;
    box-sizing: border-box;
}

.center {
    text-align: center;
}

.p1 {
    font-size: large;
    font-weight: bolder;
}

.d {
    color: brown;
}
